body {
    padding-left: 350px;
    padding-top: 25px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
}

.speech-bubble-container {
    position: absolute;
    top: 355px;
    left: 755px;
}

.speech-bubble {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid brown;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speech-bubble:before {
    top: 44px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent brown;
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 50px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 200px;
}

button, input {
    margin-top: 10px;
    font-family: "Comic Sans", sans-serif;
    font-weight: bold;
    padding: 4px;
}

input {
    font-size: 16px;
}

button {
    background-color: brown;
    color: white;
    border-color: brown;
    font-size: 14px;
}

.house {
    width: 110px;
    height: 128px;
    position: absolute;
    top: 220px;
    left: 800px;
}
.gryffindor {
    background: url(img/houses.png) 0 0;
}

.slytherin {
    background: url(img/houses.png) 116px 0;
}

.ravenclaw {
    background: url(img/houses.png) 116px 129px;
}

.hufflepuff {
    background: url(img/houses.png) 0 129px;
}